{% extends 'base.html' %}
{% block content %}
    <div class="container mt-20 mb-20">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-5">
                        <div class="login_wrap widget-taber-content p-30 background-white border-radius-10">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <h3 class="mb-30 text-center">Set a new password</h3>
                                </div>
                                <form method="post">{% csrf_token %}
                                  {% csrf_token %}
                                  {{ form.as_p }}
                                  <button type="submit">Set new password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>

{% endblock %}


